<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Started</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="header">
    <h1>Welcome to Fest.JS</h1>
  </div>
  <div class="main-content">
    <h1>Get started by editing <code>pages/index.ejs</code></h1>
    <p>Thank you for using <span class="highlight">Fest.<span class="highlight">JS</span></span></p>
    <button class="button" id="theme-toggle">Switch to Light Theme</button>
  </div>
  <div class="footer">
    <p>Crafted with ❤️ by <a href="https://github.com/daveonHMD" target="_blank" rel="noopener noreferrer" title="Visit daveonhmd's GitHub profile">daveonhmd</a></p>
  </div>
  <script src="js/main.js"></script>
</body>
</html>
